{{ with secret "pki_int/issue/example-dot-com" "common_name=test.example.com"}}
{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.0.0",
        "id": "123abc",
        "label": "Demo Application",
        "remark": "HTTPS with Predictive-Node Pool",
        "Common": {
            "class": "Tenant",
            "Shared": {
                "class": "Application",
                "template": "shared",
                "webcert": {
                    "class": "Certificate",
                    "label": "Demo Webcert",
                    "remark": "Initialize",
                    "certificate": "{{ .Data.certificate | toJSON | replaceAll "\"" "" }}",
                    "privateKey": "{{ .Data.private_key | toJSON | replaceAll "\"" "" }}",
                    "chainCA": "{{ .Data.issuing_ca | toJSON | replaceAll "\"" "" }}"
                }
            }
        }
    }
}
{{ end }}
